
.main {
    max-width: 900px;
    margin: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: rgb(240, 240, 240);
    padding: 75px;
    overflow: auto; 
}

.name{
    font-size: 3em;
}
.cool{
    background: linear-gradient(
    to right,
    red, orange, green
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    max-width: 100px;

}
#image {
    float: right;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 25px;
    width: 275px;
    box-shadow: 5px 5px 10px black;
}

#toggle{
    width: 20px;
    border-radius: 5px;

}

.paragraph{
    font-size: 1.2 em;
    font-family: Helvetica;
    line-height: 25px;
}
.subtitle{
    font-size: 1.2 em;
    font-family: Helvetica;
    line-height: 25px;
    color: rgb(255, 40, 183);
    background-color: rgb(255, 219, 243);
    padding: 3px
}

.icons{
    font-size: 2.5em;
    color: black;
    width: 1.2em;
}

#socials{
    text-align: center;
    font-size: 2em;
}