@import "../../../data/styles.css";


.toolbox-container{
    width: 25vw;
    border: 1px solid none;
    border-radius: 20px;
    border-radius: 20px;
    box-shadow: 15px 15px 15px var(--secondary-color);
    padding-left: 25px;
    padding-right: 25px;
    background-color:  var(--quaternary-color);
    padding-bottom: 40px;
}
.toolbox-icon{
    padding-top: 10px;
    width: 25px;
    height: 28px;
}

.toolbox-first{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.toolbox-image-container{
    display: flex;
    gap: 15px;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

}

.toolbox-title{
    margin: 0;
    padding-top: 20px;
    color: var(--primary-color)
}

.toolbox-image{
    max-width: 2vw;
    margin: 0;
    padding-bottom: 5px;
}


.toolbox-subtitle{
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    color: var(--secondary-color)
}

.toolbox-line{
    border-bottom: 1px solid var(--quaternary-color);
    margin: 0;
    margin-bottom: 15px
}