@import "../../data/styles.css";

.projects-page-container {
	padding-top: 100px;
}

.projects-page-header {
	display: inline;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 3rem;
}

.projects-page-highlight {
	width: 85% !important;
    display: inline;
	padding-right: 20px;
}

.projects-page-title {
	width: 85% !important;
    display: inline;
	padding-right: 20px;
}

.projects-page-small-title{
	width: 85% !important;
    display: inline;
	color: var(--primary-color);
}

.projects-page-subtitle {
	width: 85% !important;
}

.projects-content {
	width: 100%;
}